/**
 * Modal
 */

/* Modal */
/* -------------------------------------------------------------------------- */
.modal {
    scroll-padding-top: var(--rem60);
}

/* Modal Header */
/* -------------------------------------------------------------------------- */
.modal-title,
.modal-header .close {
    color: var(--bs-lighter);
}

.modal-header .close span {
    font-size: 2em;
    line-height: 0.8em;
}

.modal-header {
    background: rgba(0, 0, 0, 0.3);
}

.modal-body {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2), transparent 40%);
}
