{
    "extends": [
        "./.scss.stylelintrc.json",
        "stylelint-prettier/recommended"
    ],
    "rules": {
        "prettier/prettier": [
            true,
            {
                "printWidth": 120
            }
        ]
    }
}
