@font-face {
    font-display: swap;
    font-family: komet;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/komet-400.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: komet;
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/komet-400i.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: komet;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/komet-500.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: komet;
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/komet-500i.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: komet;
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/komet-700.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: komet;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/komet-700i.woff2') format('woff2');
}
