/**
 * Loading
 */

/* html {
    background: #fff;
    font-size: 100%;
}

body {
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
}

.hero {
    background: #40758f;
    height: 37.5rem;
}

.banner,
.hero__video,
.hero__video-overlay,
.hero__video-overlay2 {
    display: none;
}

.navbar--banner,
.hero-content,
.container {
    visibility: hidden;
} */
