/**
 * Loaded
 */

/* .banner,
.hero__video,
.hero__video-overlay,
.hero__video-overlay2 {
    display: block;
}

.navbar--banner,
.hero-content,
.container {
    visibility: visible;
}

.hero {
    background: transparent;
    height: auto;
} */
